.all {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

.heading {
    padding-left: 1vw;
}

.top {
    background-color: #ffffff;
    width: 100vw;
    border-bottom: 1px solid grey;
}

.content {
    margin: 5vh;
}

.mid {
    background-color: #ffffff;
    width: 50vw;
    border: 1px solid grey;
    display: flex;
}

.option {
    margin: 1vw;
    border-bottom: 1px solid grey;
    cursor: pointer;
}

.col {
    display: flex;
    align-items: center;
}

.iconBG {
    background-color: purple;
    margin-right: 1vw;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconFG {
    color: white;
    font-size: 1.5em;
}
